* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*cursor: none;*/
    cursor: auto;
    overflow-x: hidden;
  }

  html{
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
    background: #ffffff;
  }

  body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #222222;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #DCF763;    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 1px solid #222222;  /* creates padding around scroll thumb */
  }

  .site-wrapper{
    overflow-x: hidden;
    position: relative;
  }

  /*-----------------------------------------------------*/

  .cursor{
      width: 35px;
      height: 35px;
      border: 1.5px solid #EFEFEF;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s ease;
      transition-property: background, transform;
      transform-origin: 100% 100%;
      transition: .1s;
      backdrop-filter: grayscale();
  }

  nav{
    padding: 20px 5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1d1d;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;  
    cursor: pointer;
}

.nav-links{
  display: flex;
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 1;
  cursor: auto;
}

.all-links{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.links{
  display: flex;
  width: auto;
  justify-content: space-around;
  position:absolute;
  bottom: 20%;
  right:25%;
  left:50%;
  margin-left:-150px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.about-links{
  border: none;
  overflow: hidden;
  outline: none;
  padding-top: 5%;
  list-style: none;
}

.links a, .about-links a{
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.about-links a:hover{
  transition: all 0.3s ease;
  color: #91C7B1;
}

.links a:hover{
  transition: all 0.3s ease;
  color: #91C7B1;
}

.nav-links li{
  opacity: 0;
  margin-bottom: 5%;
}

/* .all-links a{
  color: #131530;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Lora', serif;
  cursor: pointer;
} 

.all-links a:hover{
  transition: all 0.2s ease 0s;
  color: #F67E7D;
}*/

.all-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Martel', serif;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 72px;
  color: #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
}

.all-links a:hover{
  transition: all 0.3s ease;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: unset;
}

.burger{
  display: block;
  position: relative;
  z-index: 2;
  cursor: pointer;
}


.home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #1d1d1d;
}

.logo{
  width: 32px;
  height: 32px;
  margin-right: auto;
  z-index: 3;
  cursor: pointer;
} 

/* .logo{
  margin-right: auto;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  opacity: 35%;
  cursor: pointer;
} */

  .link-grow{
    transform: scale(1.5);
    background: #EFEFEF;
    border: #EFEFEF;
}

  #mail{
    visibility: hidden;
  }

  #avaken-navbar{
    background-color: #76AAB5;
    cursor: auto;
  }

  #vistore-navbar{
    background-color: #dedce3;
    cursor: auto;
  }

  #chameleon-navbar{
    background-color: #f8df9c;
    cursor: auto;
  }

  #group-calendar-navbar{
    background-color: #9dc4af;
    cursor: auto;
  }


.container {
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
}


a { 
  color: #131530; 
  text-decoration: none;
} 
  

    .scroll-down{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mouse{
        width: 1.5rem;
        height: 2.5rem;
        border: 2px solid #ffffff;
        border-radius: 2rem;
        display: flex;
        margin-top: 3rem;
        cursor: pointer;
    }

    .mouse span{
        width: .15rem;
        height: .5rem;
        background-color: #ffffff;
        display: block;
        border-radius: 2px;
        margin: auto;
        animation: move-wheel 1s linear infinite;
        animation-delay: 6s;
        cursor: pointer;
    }


    @keyframes move-wheel{
        0%{
            opacity: 0;
            transform: translateY(-.5rem);
        }
        100%{
            opacity: 1;
            transform: translateY(.5rem);
        }
    }

.headlines{
  align-items: center;
}

/* .headlines h1{
  font-family: 'Martel', serif;
  text-align: center;
  font-style: normal;
  font-weight: 350;
  font-size: 36px;
  margin-top: 8rem;
  color: #131530;
  padding: 0 3%;
} */

#entry{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 6s;
  width: 100%;
}

#entry path:nth-child(1){
  stroke-dasharray: 434;
  stroke-dashoffset: 434;
  animation: line-anim 2s ease forwards;
}
#entry path:nth-child(2){
  stroke-dasharray: 488;
  stroke-dashoffset: 488;
  animation: line-anim 2s ease forwards 0.2s;
}
#entry path:nth-child(3){
  stroke-dasharray: 223;
  stroke-dashoffset: 223;
  animation: line-anim 2s ease forwards 0.4s;
}
#entry path:nth-child(4){
  stroke-dasharray: 434;
  stroke-dashoffset: 434;
  animation: line-anim 2s ease forwards 0.6s;
}
#entry path:nth-child(5){
  stroke-dasharray: 254;
  stroke-dashoffset: 254;
  animation: line-anim 2s ease forwards 0.8s;
}
#entry path:nth-child(6){
  stroke-dasharray: 435;
  stroke-dashoffset: 435;
  animation: line-anim 2s ease forwards 1s;
}
#entry path:nth-child(7){
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: line-anim 2s ease forwards 1.2s;
}
#entry path:nth-child(8){
  stroke-dasharray: 292;
  stroke-dashoffset: 292;
  animation: line-anim 2s ease forwards 1.4s;
}
#entry path:nth-child(9){
  stroke-dasharray: 241;
  stroke-dashoffset: 241;
  animation: line-anim 2s ease forwards 1.6s;
}

#entry path:nth-child(10){
  stroke-dasharray: 481;
  stroke-dashoffset: 481;
  animation: line-anim 2s ease forwards 1.8s;
}
#entry path:nth-child(11){
  stroke-dasharray: 356;
  stroke-dashoffset: 356;
  animation: line-anim 2s ease forwards 2s;
}
#entry path:nth-child(12){
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: line-anim 2s ease forwards 2.2s;
}
#entry path:nth-child(13){
  stroke-dasharray: 234;
  stroke-dashoffset: 234;
  animation: line-anim 2s ease forwards 2.4s;
}
#entry path:nth-child(14){
  stroke-dasharray: 465;
  stroke-dashoffset: 465;
  animation: line-anim 2s ease forwards 2.6s;
}
#entry path:nth-child(15){
  stroke-dasharray: 435;
  stroke-dashoffset: 435;
  animation: line-anim 2s ease forwards 2.8s;
}
#entry path:nth-child(16){
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: line-anim 2s ease forwards 3s;
}
#entry path:nth-child(17){
  stroke-dasharray: 288;
  stroke-dashoffset: 288;
  animation: line-anim 2s ease forwards 3.2s;
}
#entry path:nth-child(18){
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: line-anim 2s ease forwards 3.4s;
}
#entry path:nth-child(19){
  stroke-dasharray: 228;
  stroke-dashoffset: 228;
  animation: line-anim 2s ease forwards 3.6s;
}
#entry path:nth-child(20){
  stroke-dasharray: 292;
  stroke-dashoffset: 292;
  animation: line-anim 2s ease forwards 3.8s;
}
#entry path:nth-child(21){
  stroke-dasharray: 394;
  stroke-dashoffset: 394;
  animation: line-anim 2s ease forwards 4s;
}
#entry path:nth-child(22){
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: line-anim 2s ease forwards 4.2s;
}
#entry path:nth-child(23){
  stroke-dasharray: 234;
  stroke-dashoffset: 234;
  animation: line-anim 2s ease forwards 4.4s;
}
#entry path:nth-child(24){
  stroke-dasharray: 67;
  stroke-dashoffset: 67;
  animation: line-anim 2s ease forwards 4.6s;
}

@keyframes line-anim{
  to{
      stroke-dashoffset: 0;
  }
}

@keyframes fill{
  0%{
    fill: transparent;
  }
  100%{
    fill: white;
    stroke-dashoffset: 5000;
  }
}



.headlines h1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Martel', serif;
  text-align: center;
  font-style: normal;
  font-weight: 350;
  font-size: 72px;
  color: #ffffff;
}

.headlines h1 span{
  font-family: 'Martel', serif;
  color: #F67E7D;
  font-style: normal;
  font-weight: 350;
  font-size: 36px;
}

.headlines p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 2rem;
  color: #131530;
  padding: 0 25%;
}


.headlines h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    font-weight: lighter;
    margin-top: .5rem;
    color: #131530;
  }

  .headlines a{
    bottom: 15%;;
    cursor: pointer;
  }

/*-----------------------------------------------------*/

/* .projects{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items: center;
} */

.projects{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.projects::-webkit-scrollbar{
  width: 0;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.grid{
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: dense;
}

.image{
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

figure{
  overflow: hidden;
}

/* #desc{
  display: inline-block;
  padding-top: 1.5%;
  padding-bottom: 2%;
}

#desc span{
  font-family: 'Lora', serif;
  color: #222222;
  margin-top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
}

#desc h1{
  padding: 0 10px;
  font-family:'Poppins', sans-serif;
  color: #222222;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  } */


.image img{
  display: block;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.image #zoom-in img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.image #zoom-in:hover img{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.text-wrapper{
  width: 40%;
  position: relative;
  top: -90%;
  padding-left: 5%;
  color: #ffffff;
}

.text-wrapper h2{
  font-family:'Poppins', sans-serif;
  font-size: 14px;
  text-align: left;
  letter-spacing: 3px;
  font-weight: normal;
  padding-bottom: 16px;
  text-transform: uppercase;
}

#orange{
  color: #d6702b;
}

#green{
  color: #075E55;
}

#blue{
  color: #0A407E;
}

#purple{
  color: #7D2AD0;
}

.text-wrapper h1{
  font-family:'Poppins', sans-serif;
  font-size: 36px;
  text-align: left;
  padding-bottom: 8px;
  letter-spacing: 1px;
}

.text-wrapper h3{
  font-family:'Poppins', sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: lighter;
  width: 100%;
}

  .column{
    display: inline-block;
  }

  .row{
    display: flex;
    padding: 1% 10% 1% 10%;
  }
  
  .row h1{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.24em;
    color: #222222;
    padding-bottom: 8px;
  }

  .row p {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #8D8D8D;
    letter-spacing: 0;
    padding-bottom: 8px;
  }

  .credits a{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    padding-bottom: 8px;
  }

  .credits a:hover{
    color: #F95F51;
  }

  .the-idea, .introduction ,.credits{
    float: left;
    width: 50%;
    padding-top: 120px;
  }

  .the-problem{
    float: left;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .original-screens, .problem-with-img{
    padding-top: 120px;
    padding-bottom: 80px;
    display: inline-block;
  }

  .original-screens #text{
    width: 50%;
    float: left;
    padding-right: 100px;
    padding-top: 15%;
  }

  .problem-with-img #text{
    width: 50%;
    float: left;
    padding-right: 100px;
    padding-top: 10%;
  }

  .original-screens img, .problem-with-img img, .smartphoneWrapper{
    float: right;
    width: 50%;
  }

  h1 span{
    font-family: 'Lora', serif;
    font-size: 36px;
    letter-spacing: 0;
    padding-right: 24px;
  }

  .for-desktop #text{
    float: left;
    width: 50%;
    padding-top: 120px;
  }
  

  .more h6{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0;
    color: #222222;
  }

  .more{
    padding-top: 120px;
  }

  .more .image{
    padding-top: 50px;
  }

  /*.chameleon, .avaken, .vistore, .group-calendar{
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }*/

  .cover-img{
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .cover-img #cover{
    align-items: center;
    width: 100%;
    height: 70vh;
    object-fit: cover; 
    cursor: auto;
  }

  .cover-img #cover_tablet{
    display: none;
  }

  #next-project-mobile{
    display: none;
  }

  .project-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
  }

  .detail{
    width: auto;
  }

  .detail h6{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #8D8D8D;
    letter-spacing: 4px;
  }

  .detail h4{
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #222222;
    letter-spacing: 0;
  }
  
  /*.chameleon #cover, .avaken #cover, .vistore #cover, .group-calendar #cover{
    align-items: center;
    width: 100%;
    height: 70vh;
    object-fit: cover; 
    cursor: auto;
  }*/

  /*.vistore #cover_tablet{
    display: none;
  }

  .avaken #cover_tablet{
    display: none;
  }

  .chameleon #cover_tablet{
    display: none;
  }

  .group-calendar #cover_tablet{
    display: none;
  }*/


  h5{
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    letter-spacing: 8px;
    font-size: 48px;
    text-align: center;
  }

  #img_video{
    align-items: center;
    width: 100%;
    padding-top: 50px;
  }

  .videowrapper{
    margin: 0 auto;
    width: 80%;
    padding-top: 70px;
  }

  .smartphoneWrapper video{
    margin: 0 auto;
    width: 60%;
    float: right;
    padding-right: 5%;
  }
  .smartphoneWrapper img{
    margin: 0 auto;
    width: 70%;
    float: right;
  }

  video{
    cursor: pointer;
    width: 100%;
  }

  #chameleon{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /*---------------------------------------*/

  .about{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #1d1d1d;
  }

  .about-wrapper{
    width: auto;
    display: flex; 
    flex-direction: row;
  }

  .about-wrapper img{
    width: 50%;
    padding: 2%;
    opacity: 80%;
    object-fit: cover;
  }

  .about-text{
    color: white;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding-top: 15%;
    padding-left: 8%;
  }

  .about-text h1{
    color: #91C7B1;;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .about-text p{
    font-size: 14px;
    font-weight: lighter;
  }


 footer{
  width: 100%;
  color: #000000; 
  float: none; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

#black{
  color: #fff; 
  background-color: #1d1d1d;
}



/*-----------------------------------------*/

@media screen and (max-width:930px){

  .links{
    width: 55%;
  }

  #text span{
    font-size: 28px;
  }
  
  .original-screens #text{
    padding-top: 0;
  }

  .problem-with-img #text{
    padding-top: 0;
  }

  .detail h6{
    font-size: 12px;
  }

  .detail h4{
    font-size: 20px;
  }

  .text-wrapper{
    width: 50%;
  }

}

@media screen and (max-width:770px){

  .cursor{
    display: none;
  }

  #entry{
    width: 80%;
  }

  .links{
    width: 65%;
  }

  .grid{
    grid-template-columns: auto;
  }

  #text span{
    font-size: 22px;
  }

  #text h1{
    font-size: 14px;
  }

  .row p {
    font-size: 14px;
  }

  .project-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
    padding-top: 15px;
  }

  .detail{
    margin-top: 10%;
    width: 100%;
  }

  .cover-img #cover{
    display: none;
  }

  .cover-img #cover_tablet{
    display: block;
    align-items: center;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    cursor: auto;
  }

  #next-project-web{
    display: none;
  }

  #next-project-mobile{
    display: block;
  }

  .text-wrapper{
    width: 60%;
  }


  /*
    .vistore #cover{
    display: none;
  }

  .vistore #cover_tablet{
    display: block;
    align-items: center;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    cursor: auto;
  }

  .avaken #cover{
    display: none;
  }

  .avaken #cover_tablet{
    display: block;
    align-items: center;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    cursor: auto;
  }

  .chameleon #cover{
    display: none;
  }

  .chameleon #cover_tablet{
    display: block;
    align-items: center;
    width: 100%;
    height: 110vh;
    object-fit: cover; 
    cursor: auto;
  }
  
  .group-calendar #cover{
    display: none;
  }

  .group-calendar #cover_tablet{
    display: block;
    align-items: center;
    width: 100%;
    height: 110vh;
    object-fit: cover; 
    cursor: auto;
  }*/

}


@media screen and (max-width:630px){

  .row{
      display: inline-block;
  }

  .links{
    width: 78%;
  }

  .the-idea, .introduction ,.credits, .the-problem{
    width: 100%;
  }

  .original-screens, .problem-with-img{
    width: 100%;
    display: flex; 
    flex-direction: column;
  }

  .original-screens #text, .problem-with-img #text{
    width: 100%;
    padding-right: 0;
  }

  .smartphoneWrapper {
    width: 100%;
}

  .original-screens img, .problem-with-img img{
    width: 100%;
  }

  .smartphoneWrapper video{
    width: 90%;
    float: none;
    padding-right: 0;
    margin: auto;
  }
  .smartphoneWrapper img{
    width: 90%;
    float: none;
    margin: auto;
  }

  .for-desktop #text{
    width: 100%;
  }

  .more h6{
    font-size: 20px;
  }

  .text-wrapper{
    width: 65%;
  }

  
  .about-text h1{
    font-size: 12px;
  }

  .about-text p{
    font-size: 12px;
  }

  .about-links a{
    font-size: 12px;
  }

  

}



@media screen and (max-width:520px){
    .scroll-down h2{
      font-size: 10px;
    }

    .links{
      width: 90%;
    }

    .all-links a{
      font-size: 72px;
    }

    #desc span{
      font-size: 16px;
    }

    .text-wrapper{
      width: 80%;
    }

    .about-wrapper{ 
      flex-direction: column;
    }

    .about-wrapper img{ 
      width: 90%;
    }

    .about-text{
      width: 100%;
      padding: 8% 5% 3% 5%;
    }

    .about{
      height: 120vh;
    }
  
  }

  @media screen and (max-width:470px){

    .all-links a{
      font-size: 64px;
    }

    .links{
      width: 100%;
    }

    #desc span{
      font-size: 14px;
    }

    #desc h1{
      font-size: 10px;
    }

    .detail h4{
      font-size: 18px;
    }

    .credits a {
      font-size: 14px;
    }
    
    .text-wrapper h3{
      font-size: 16px;
    }

    .text-wrapper h1{
      font-size: 32px;
    }
  }

  @media screen and (max-width:400px){

    .links{
      width: 110%;;
    }

    .links{
      left: 55%;
    }

    #desc h1{
      padding: 0;
      letter-spacing: 1px;
    }

    .text-wrapper{
      width: 90%;
    }
    
    .text-wrapper h3{
      font-size: 14px;
    }

    .text-wrapper h2{
      font-size: 12px;
    }

    .text-wrapper h1{
      font-size: 28px;
    }
    

  }

  @media screen and (max-width:350px){
    .all-links a{
      font-size: 56px;
    }

    .links a{
      font-size: 12px;
    }

    .links{
      left: 62%;
    }

    .text-wrapper{
      width: 95%;
    }

    .text-wrapper h1{
      font-size: 24px;
    }
  }




  .nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}





