* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    
    /*font-family: 'PT Sans', sans-serif;*/
  }

  html{
      scroll-behavior: smooth;
  }

  /*-----------------------------------------------------
  .landingPageBackground{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: -2;
  }

   .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bec584;
    opacity: 7%;
    clip-path: circle(500px at right 600px);
  }
*/

/*-----------------------------------------------------*/
 

  .homepage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .cursor{
      width: 2rem;
      height: 2rem;
      border: 2px solid tan;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s ease;
      transition-property: background, transform;
      transform-origin: 100% 100%;
  }

  .link-grow{
      transform: scale(1.5);
      background: tan;
  }

  .logo{
      width: 40px;
      height: 20px;
  }

  nav{
      width: 85%;
      min-height: 10vh;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Poppins', sans-serif;
  }

  nav h1{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
  }

  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
  }

  .nav-links li{
    list-style: none;
    padding: 1rem;
  }

  .nav-links a{
    color: #222222;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
  }

  .burger{
      display: none;
  }

  .burger div{
      width: 25px;
      height: 3px;
      background-color: #222222;
      margin: 5px;
      transition: all 0.3s ease;
      
  }

  .pageContent{
      display: flex;
      justify-content: space-between;
      
  }

  .homepageHeadline, .aboutpageHeadline, .skillspageHeadline, .projectspageHeadline{
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    white-space: nowrap;
    writing-mode: vertical-lr;
    line-height: 1;
    color: #bec584;
    opacity: 12%;
  }

  .content{
      flex-basis: 80%;
  }

  .wrapper{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 25%;
      z-index: -2;
  }

  path{
      stroke: #222222;
      fill: #222222;
      stroke-dasharray: 1450;
      opacity: 10;
      animation: animate 4s cubic-bezier(0,0.85,1,1);
  }

/*  #name{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 30%;
  }

#name path:nth-child(2){
    stroke-dasharray: 339px;
    stroke-dashoffset: 339px;
    animation: line-anim 2s ease forwards;
}
#name path:nth-child(3){
    stroke-dasharray: 356px;
    stroke-dashoffset: 356px;
    animation: line-anim 2s ease forwards 0.3s;
      
}
#name path:nth-child(4){
    stroke-dasharray: 309px;
    stroke-dashoffset: 309px;
    animation: line-anim 2s ease forwards 0.6s;
      
}
#name path:nth-child(5){
    stroke-dasharray: 403px;
    stroke-dashoffset: 403px;
    animation: line-anim 2s ease forwards 0.9s;
      
}
#name path:nth-child(6){
    stroke-dasharray: 299px;
    stroke-dashoffset: 299px;
    animation: line-anim 2s ease forwards 1.2s;
      
}
#name path:nth-child(7){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 1.5s;
      
}
#name path:nth-child(8){
    stroke-dasharray: 366px;
    stroke-dashoffset: 366px;
    animation: line-anim 2s ease forwards 1.8s;
      
}
#name path:nth-child(9){
    stroke-dasharray: 403px;
    stroke-dashoffset: 403px;
    animation: line-anim 2s ease forwards 2.1s;
      
}
#name path:nth-child(10){
    stroke-dasharray:326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 2.4s;
      
}
#name path:nth-child(11){
    stroke-dasharray: 329px;
    stroke-dashoffset: 329px;
    animation: line-anim 2s ease forwards 2.7s;
      
}
#name path:nth-child(12){
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: line-anim 2s ease forwards 3.0s;
}

h3{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: tan;
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
*/

    .content p{
        font-family: 'Poppins', sans-serif;
        z-index: -1;
        font-weight: lighter;
    }

    .line{
        content: "";
        position: absolute;
        width: 17.2em;
        margin: 0 auto;
        /*border-right: 2px solid rgba(34,34,34,0.75);*/
        font-size: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
        top: 62%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .anim-typing{
        animation: typing 3s steps(40) 1s 1 normal both;
        /*blink 500ms steps(40) infinite normal*/
    }

    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 17.2em;
        }
    }

    @keyframes blink{
        from{
            border-right-color: rgba(34,34,34,0.75);
        }
        to{
            border-right-color: transparent;
        }
    }

    .social-links li{
        list-style: none;
        padding: 0.6rem;
      }
    
    .social-links li:hover{
       transform: scale(1.2);
    }
    
    .social-links{
        position: absolute;
        display: block;
        /*top: 80%;*/
        top: 40%;
        left: 1.5%;
    }

    .scroll-down{
        align-self: flex-end;
        margin-top: 35%;
        margin-left: 2.1%;
    }

    .scroll-link{
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        color: #222222;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-size: 11px;
        letter-spacing: 1px;
    }

  /*-----------------------------------------------------*/

  .aboutPage{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.about{
    display: flex;
  }


.aboutpageHeadline{
    margin-top: 5%;
    margin-right: 7%;
}

.about-text{
    display: block;
    margin-top: 3%;
    margin-right: 15px;
}

.about-text h2{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

.about-text h3{
    font-family: 'Courgette', cursive;
    font-size: 14px;
    color: tan;
    letter-spacing: 2px;
    font-weight: lighter;
  }

.about-text p{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #222222;
}

.about-img{
  position: relative;
  z-index: -2;
  width: 150px;
  height: 150px;
}

.block{
    margin-top: 6.5%;
    display: block;
    width: 25%;
}

.paint{
    margin-top: 5.5%;
    background-color: #fdf8f6;
    height: 380px;
    width: 60%;
    z-index: -2;
}

 /*-----------------------------------------------------*/

 .skillsPage{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.skills{
    display: flex;
  }


.skillspageHeadline{
    margin-top: 5%;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    grid-gap: 0.2rem;
    padding: 1rem 80px;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
    width: 100%;
}

.skill-box{
    padding: 1rem;
    color: #222222;
    display: flex;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.img{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 45px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}



.skill-icon{
    width: 25px;
}

/*
.skills-info{
    float: right;
    display: block;
    margin-top: 5.5%;
    width: 35%;

}

.skills-info p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
*/

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.html{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
}

.html h3{
    text-align: left;
}

.progressbar{
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #f7f8f1;
    opacity: 12;
    margin-top: 7px;
    z-index: -2;
}


div[class^='bar-']{
    position: absolute;
    background-color: tan;
    height: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-java{
    width: calc(0 - 6px);
}

 /*-----------------------------------------------------*/

 /*-----------------------------------------------------*/

 .projectsPage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.projects{
    display: flex;
  }


.projectspageHeadline{
    margin-top: 5%;
    margin-right: 3%;
}

.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 0.2rem;
    padding: 1rem 40px;
    margin-top: 4.2%;
    width: 100%;
}

.projects a{
    justify-self: center;
    position: relative;
    display: inline-block;
}

.first-img{
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
}

.modiin{
    display: block;
    width: 100%;
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
    cursor: pointer;
}

.over > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.over:hover{
    opacity: 1;
}

.over:hover > *{
    transform: translateY(0);
}

.title{
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.desc{
    font-size: 0.7rem;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 1px;
    color: tan;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.button{
    font-size: 0.8rem;
    border: 1.5px solid #fff;
    border-radius: 30px;
    padding: 7px 20px;
    font-family: 'Poppins', sans-serif;
}

.button:hover{
    color: tan;
    border: 1.5px solid tan;
    cursor: pointer;
}

.popup .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 600px;
    height: 600px;
    z-index: 2;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.popup .close-btn{
    position: absolute;
    right: 10px;
    top: 93%;
    height: 30px;
    width: 30px;
    color: #000;
    line-height: 30px;
    text-align: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.popup img{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    border-radius: 0;
}

.popup h4{
    padding-top: 410px;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.popup h5{
    font-size: 13px;
    color: tan;
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
}

.popup p{
    font-size: 12px;
    padding-top: 10px;
    color: #252627;
    font-family: 'Poppins', sans-serif;
}

.popup a{
    color: #222222; 
    margin-top: 7%;
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 7px 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: tan;
    cursor: pointer;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

 /*-----------------------------------------------------*/

 footer{
    height: 5vh;
}

footer h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #222222;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

 /*-----------------------------------------------------*/

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 100%;
        top: 0px;
        background-color: tan;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
        cursor: pointer;
    }

    .burger{
        display: block;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    /*#name{
        width: 70%;
        z-index: -1;
    }

    h3{
        font-size: 18px;
    }*/

    .scroll-down{
        margin-top: 50%;
        margin-left: 2.2%;
    }

    .wrapper{
        width: 40%;
    }

    .homepageHeadline, .aboutpageHeadline, .skillspageHeadline, .projectspageHeadline{
        font-size: 7rem;
    }

    .block{
        width: 70%;
    }

    /*
    .skills-info{
        width: 70%;
    }*/

    .skillsPage{
        height: 130vh;
    }
    
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;
        padding-top: 0;
    }

    .paint{
        width: 20%;
    }

    .projectsPage{
        height: 180vh;
    }
    
    .images{
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .popup .content{
        top: 35%;
        left: 35%;
        width: 60%;
        height: 75%;
    }

    .popup img{
        width: 100%;
    }

    /*
    .popup h4{
    padding-top: 410px;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.popup h5{
    font-size: 13px;
    color: tan;
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
}

.popup p{
    font-size: 12px;
    padding-top: 10px;
    color: #252627;
    font-family: 'Poppins', sans-serif;
}

.popup a{
    color: #222222; 
    margin-top: 7%;
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 7px 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: tan;
    cursor: pointer;
}
    */
}

@media screen and (max-width:600px){
    .scroll-down{
        margin-top: 65%;
        margin-left: 2.4%;
    }

    .about-text{
        width: 75%;
    }

    .block{
        width: 100%;
    }

    .container{
        padding: 1rem 60px;
    }

    .projectsPage{
        height: 140vh;
    }
}


@media screen and (max-width:470px){
    .scroll-down{
        margin-top: 80%;
        margin-left: 2.5%;
    }

    .img{
        width: 50px;
        height: 50px;
    }

    .skill-icon{
        width: 20px;
    }

    .container{
        padding: 1rem 40px;
    }
    
    .skill-box{
        padding: 0rem;
    }

    .skillsPage{
        height: 95vh;
    }

}

@media screen and (max-width:357px){
    .scroll-down{
        margin-top: 110%;
        margin-left: 2.8%;
    }

    .wrapper{
        width: 60%;
    }

    .social-links{
        top: 35%;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .paint{
        opacity: 0;
    }
    
    .block{
        width: 100%;
    }

    .aboutPage{
        height: 95vh;
    }

    .img{
        width: 40px;
        height: 40px;
    }

    .skill-icon{
        width: 20px;
    }

    .html h3{
        font-size: 10px;
    }

    .container{
        padding: 1rem 20px;
    }

    .skillsPage{
        height: 85vh;
    }

    .projectsPage{
        height: 80vh;
    }

    .title{
        font-size: 0.5rem;
    }
    
    .desc{
        font-size: 0.4rem;
    }
    
    .button{
        font-size: 0.5rem;
        padding: 5px 13px;
    }

}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes animate{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1450;
    }

    30%{
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1450;
    }

    90%{
        fill: rgba(34,34,34,0);
    }

    100%{
        opacity: 10;
        fill: rgba(34,34,34,1);
        stroke-dashoffset: 0;
    }
}